@model List<Product>

<table class="table table-striped table-bordered table-hover">
    <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Product Details</th>
            </tr>
    </thead>
    <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>
                    <img src="~/Images/@product.ImageUrl" style="width:100px"/>
                    </td>
                    <td>
                    <a href="/Product/ShowProduct?id=@product.Id">Show @product.Name</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
