@model Product

<h1>Product Details</h1>
<h3>@Model.Id</h3>
<h2>@Model.Name</h2>
<h2>@Model.Price.ToString("C")</h2>
<img src="/Images/@Model.ImageUrl" style="width:150px" />

<a href="/Product/ShowAll">Back to Products</a>